@font-face {
  font-family: ChosunKm;
  src: url('../../assets/font/ChosunKm.ttf');
}

@font-face {
  font-family: NanumMyeongjoBold;
  src: url('../../assets/font/NanumMyeongjoBold.ttf');
}

.service-title {
  text-decoration: none;
  color: white;
  font-size: 1.8em;
  font-family: ChosunKm;
}

.nav-search-btn {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
}
.nav-search-btn:hover {
  color: rgb(255, 200, 0);
}

.nav-logout-btn {
  background-color: white;
  border-style: solid;
  border-color: rgb(160, 160, 160);
}
.nav-logout-btn:hover {
  background-color: rgb(255, 200, 0);
  border-color: rgb(255, 200, 0);
}

.nav-set-btn {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
}
.nav-set-btn:hover {
  color: rgb(255, 200, 0);
}

.form-control {
  border: 0 !important;
  background-color: #f8f9fa !important;
}

.form-control:focus {
  border: 0 !important;
  box-shadow: none !important;
}

.search {
  display: flex;
}
.search-title {
  text-align: center;
}

@media (max-width: 991px) {
  .search-title {
    font-size: 22px !important;
  }
}

@media (max-width: 991px) {
  .search {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
  }
}

.nav-search-close {
  color: #000000;
  background-color: white;
  border-style: solid;
  border-color: rgb(160, 160, 160);
}
.nav-search-close:hover {
  background-color: rgb(255, 200, 0);
  border-color: rgb(255, 200, 0);
}

.my-navbar {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.basic-navbar-nav {
  flex: 1;
  width: 20;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 990px) {
  .col-11 {
    padding-top: 10px;
  }
}
@media (max-width: 990px) {
  .nav-search-close {
    padding: 0.2rem 0.5rem;

    width: 100%;
    height: 100% !important;
  }
}

.MuiFormLabel-root.Mui-focused {
  color: rgb(101, 101, 255) !important;
  font-size: 17px;
  font-weight: 800;
  border-width: 10px;
  background-color: rgb(160, 160, 160, 0);
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, 2px) scale(0.8) !important;
}

.PrivateNotchedOutline-legendLabelled-158 .PrivateNotchedOutline-legendNotched-159 {
  background-color: rgb(255, 200, 0);
}

.MuiOutlinedInput-notchedOutline legend {
  display: none !important;
}

@media (max-width: 990px) {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.input-group-append {
  padding-left: 0;
  padding-right: 0;
}
