.bg-color-white {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
}
.CreateSetHeader-title {
  font-weight: 700 !important;
  font-size: 1.25rem !important;
  line-height: 1.2 !important;
  /* margin: 0.25rem 0 !important; */
  /* margin: 20px 0 !important; */
}
.set-modify-BackgroundColor {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(-45deg, #ddee9f, #fffedc, #63bfe0, #c6f5ea);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@media (max-width: 575px) {
  .btn-save .span-save {
    display: none;
  }

  .btn-trash .span-trash {
    display: none;
  }
}
