.pro-menu {
  margin-top: 2em;
}

.pro-menu-item {
  margin-bottom: 10px;
}

.pro-item-content {
  padding-left: 5px;
  font-size: 1.5em;
  color: white;
  font-weight: 800;
}

.MenuItem:hover {
  background-color: orange;
}

@media (max-width: 1024px) {
  .testpaper-btn {
    display: none;
  }
}

.mobile-notest {
  display: none;
}