* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: linear-gradient(-45deg, #ddee9f, #fffedc, #63bfe0, #c6f5ea);
}

.memory-game {
  width: 98%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  /* width: calc(25% - 10px); */
  width: 20%;
  /* height: calc(33.333% - 10px); */
  height: 30vw;
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.75s;
  transition-timing-function: linear;
}

@media (min-width: 320px) {
  .memory-card {
    height: 40vw;
  }
}

@media (min-width: 495px) {
  .memory-card {
    height: 38vw;
  }
}

@media (min-width: 520px) {
  .memory-card {
    height: 36vw;
  }
}

@media (min-width: 549px) {
  .memory-card {
    height: 34vw;
  }
}

@media (min-width: 608px) {
  .memory-card {
    height: 30vw;
  }
}

@media (min-width: 609px) {
  .memory-card {
    height: 28vw;
  }
}

@media (min-width: 653px) {
  .memory-card {
    height: 26vw;
  }
}

@media (min-width: 702px) {
  .memory-card {
    height: 24vw;
  }
}

@media (min-width: 749px) {
  .memory-card {
    height: 23vw;
  }
}

@media (min-width: 761px) {
  .memory-card {
    height: 23vw;
  }
}

@media (min-width: 781px) {
  .memory-card {
    height: 22vw;
  }
}

@media (min-width: 817px) {
  .memory-card {
    height: 21vw;
  }
}

@media (min-width: 855px) {
  .memory-card {
    height: 20vw;
  }
}

@media (min-width: 898px) {
  .memory-card {
    height: 19vw;
  }
}

@media (min-width: 945px) {
  .memory-card {
    height: 18vw;
  }
}

@media (min-width: 992px) {
  .memory-card {
    height: 17vw;
  }
}

@media (min-width: 1042px) {
  .memory-card {
    height: 16vw;
  }
}

@media (min-width: 1110px) {
  .memory-card {
    height: 15vw;
  }
}

@media (min-width: 1160px) {
  .memory-card {
    height: 14vw;
  }
}

@media (min-width: 1267px) {
  .memory-card {
    height: 13.6vw;
  }
}

@media (min-width: 1290px) {
  .memory-card {
    height: 10vw;
  }
}

.memory-card:active {
  /* transform: scale(0.97); */
  transform: scale(1);
  transition: transform 0.2s;
}

.front-face-word {
  /* background-color: #497461 !important; */
  background: linear-gradient(45deg, #4099ff, #73b4ff);
  font-size: 1.2rem;
  color: white;
}

.front-face-meaning {
  /* background-color: #b66b43 !important; */
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
  font-size: 1.2rem;
  color: white;
}

.back-face-word {
  /* background-color: #343148ff !important; */
  /* background: repeating-linear-gradient(45deg, #497461, #497461 30px, #335345 30px, #335345 60px); */
  background: linear-gradient(45deg, #4099ff, #73b4ff);

  /* background: #ffd89b;
  background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
  background: linear-gradient(to right, #19547b, #ffd89b);  */

  /* background: #1f4037;
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
  background: linear-gradient(to right, #99f2c8, #1f4037); */
}

.back-face-meaning {
  /* background-color: #d7c49eff !important; */
  /* background: repeating-linear-gradient(45deg, #b66b43, #b66b43 30px, #8d4e2c 30px, #8d4e2c 60px); */
  background: linear-gradient(45deg, #ffb64d, #ffcb80);

  /* background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027); */

  /* background: #fc4a1a;
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
  background: linear-gradient(to right, #f7b733, #fc4a1a); */
}

.front-face-word,
.front-face-meaning,
.back-face-word,
.back-face-meaning {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  /* background: #fffedc; */
  /* backface-visibility: hidden; */
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face-word {
  transform: rotateY(180deg);
}

.front-face-meaning {
  transform: rotateY(180deg);
}

.CardTest-background {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(-45deg, #ddee9f, #fffedc, #63bfe0, #c6f5ea);
  background-size: 400% 400%;
}

.aws-Quizback-btn {
  position: absolute;
  right: 10vw;
  top: 13%;
}

.aws-game-btn {
  top: 7vh;
  margin-right: auto;
  margin-left: 80vw !important;
}

@media (max-width: 800px) {
  .aws-game-btn {
    top: 7vh;
    margin-right: auto;
    margin-left: 68vw !important;
  }
}

.header-word {
  font-size: 1.5vw;
}

.header-meaning {
  font-size: 1.5vw;
}
