.StudyPageContainer {
  /* display: flex;
  width: 100%;
  height: 92%; */
  flex: 1;
  /* position: relative; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Study-BackgroundColor {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  background-color: #c6f5ed;
}
.studyBackground {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}
.FlippyContainer-root {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
.FlippyContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}
@media (max-width: 576px) {
  .FlippyContainer {
    width: 80%;
    height: 70%;
  }
}

.flippy-container {
  position: relative;
  width: 55%;
  height: 80vh;
  display: inline-block;
  flex: 1;
  /* border: 1px solid #efefef; */
}

@media (max-width: 576px) {
  .flippy-container {
    width: 80%;
    height: 50vh;
  }
}

.awssld__content {
  background-color: #c6f5ed;
}
.StudyprogressContainer {
  display: flex;
  align-items: center;
  max-height: 85px;
  width: 60%;
  text-align: center;
  flex-direction: column;
}
.StudyprogressContainer p {
  flex: none;
  font-size: 17px;
  font-family: 'Noto Sans KR', sans-serif;
}
.StudyprogressContainer .switch {
  flex: none;
  margin-left: auto;
  width: 40px;
  margin-bottom: 30px;
}
.css-1v96km2-Switch {
  width: 16px;
  margin-left: auto;
}

.css-19a995p-Switch {
  width: 16px;
  margin-right: auto;
}

.Studyprogress {
  height: 50px;
  width: 50%;
  margin: auto;
}
.react-sweet-progress-line {
  height: 20px;
}
.react-sweet-progress-line-inner {
  height: 20px;
}

.awssld__wrapper {
  align-items: center;
  display: flex;
}
.awssld__container {
  padding-bottom: 0;
}

.FrontSide {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  overflow-y: auto;
}
.FrontSide p {
  font-size: 4.8em;
  color: white;
  font-weight: 900;
}

@media (max-width: 576px) {
  .FrontSide p {
    font-size: 2.3em;
  }
}

.FrontSide .speech-button {
  width: 3em;
  height: 3em;
  display: flex;
}

@media (max-width: 576px) {
  .FrontSide .speech-button {
    width: 1.7em;
    height: 1.7em;
  }
}

.BackSide {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: scroll;
  padding-top: 50px;
}

.BackSide p {
  font-size: 2.5em;
  color: black;
  font-weight: 800;
  height: 100%;
}

@media (max-width: 576px) {
  .BackSide p {
    font-size: 1.5em;
  }
}

.BackSide .speech-button {
  width: 3em;
  height: 3em;
  display: flex;
}

@media (max-width: 576px) {
  .BackSide .speech-button {
    width: 1.7em;
    height: 1.7em;
  }
}

.rs-container {
  flex: 1;
  display: flex;
}
.rs-container button {
  flex: 1;
  background-color: rgb(255, 255, 255, 1);
}

.word-type {
  position: fixed;
  right: 0.7em;
  top: 0.7em;
  font-size: 2em;
  font-weight: 900;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');
@-webkit-keyframes active {
  from {
    box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1, 0 -6px 4px #fefefe, inset 0 0 10px 0px rgba(0, 0, 250, 0.6);
  }
  to {
    box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1, 0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
  }
}
@keyframes active {
  from {
    box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1, 0 -6px 4px #fefefe, inset 0 0 10px 0px rgba(0, 0, 250, 0.6);
  }
  to {
    box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1, 0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
  }
}

.backbtn {
  position: fixed;
  top: 8em;
  left: 5vw;
  z-index: 2;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 10em;
  height: 50px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d8d9db), color-stop(80%, #fff), to(#fdfdfd));
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1, 0 -6px 4px #fefefe, inset 0 0 3px 0 #cecfd1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.backbtn-text {
  font-weight: 1200;
}

@media (max-width: 580px) {
  .backbtn {
    top: 11em;
    width: 7em;
    height: 45px;
  }
}
.backbtn::-moz-focus-inner::-moz-focus-inner {
  border: 0;
}
.backbtn > * > * {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.backbtn:hover:not([disabled]):hover:not([disabled]) {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1, 0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}
.backbtn:hover:not([disabled]) > *:hover:not([disabled]) > * {
  -webkit-transform: scale(0.975);
  transform: scale(0.975);
}
.backbtn:focus:not(:active):focus:not(:active) {
  -webkit-animation: active 0.9s alternate infinite;
  animation: active 0.9s alternate infinite;
  outline: none;
}
.backbtn:active:not([disabled]):active:not([disabled]) {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1, 0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
.backbtn:active:not([disabled]) > *:active:not([disabled]) > * {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.backbtn:disabled:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
