.StudyPageContainer {
  display: flex;
  width: 100%;
  height: 92%;
  /* position: relative; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.studyBackground {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}
.FlippyContainer-root {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgb(255, 255, 255, 1);
}
.FlippyContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}
@media (max-width: 576px) {
  .FlippyContainer {
    width: 80%;
    height: 70%;
  }
}

.flippy-container {
  position: relative;
  width: 55%;
  height: 80vh;
  display: inline-block;
  flex: 1;
  border: 1px solid #efefef;
}

@media (max-width: 576px) {
  .flippy-container {
    width: 80%;
    height: 50vh;
  }
}

.awssld__content {
  background-color: rgb(255, 255, 255);
}
.StudyprogressContainer {
  display: flex;
  align-items: center;
  max-height: 85px;
  width: 60%;
  text-align: center;
  flex-direction: column;
}
.StudyprogressContainer p {
  flex: none;
  font-size: 17px;
  font-family: 'Noto Sans KR', sans-serif;
}
.StudyprogressContainer .switch {
  flex: none;
  margin-left: auto;
  width: 40px;
  margin-bottom: 30px;
}
.css-1v96km2-Switch {
  width: 16px;
  margin-left: auto;
}

.css-19a995p-Switch {
  width: 16px;
  margin-right: auto;
}

.Studyprogress {
  height: 50px;
  width: 50%;
  margin: auto;
}
.react-sweet-progress-line {
  height: 20px;
}
.react-sweet-progress-line-inner {
  height: 20px;
}

.awssld__wrapper {
  align-items: center;
  display: flex;
}

.FrontSide {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
  display: flex;
  align-items: center;
  justify-content: center;
}
.FrontSide p {
  font-size: 5em;
  color: white;
  font-weight: 900;
}

.BackSide {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
  display: flex;
  align-items: center;
  justify-content: center;
}

.BackSide p {
  font-size: 3.5em;
  color: black;
  font-weight: 900;
}
