.form-control {
  border: 0 !important;
  background-color: #f8f9fa !important;
}

.form-control:focus {
  /* outline: none !important; */
  /* border-color: #ff0000 !important; */
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important; */
  /* box-shadow: inset 0px 0px 0px 0px red; */

  border: 0 !important;
  box-shadow: none !important;
}
