@font-face {
  font-family: NanumBarunGothic;
  src: url('../../assets/font/NanumBarunGothic.ttf');
}

.CreateSetHeader-title {
  font-weight: 700 !important;
  line-height: 1.2 !important;
  margin: 20px 0 !important;
  font-size: 2.4em !important;
  font-family: NanumBarunGothic;
}

@media (max-width: 800px) {
  .CreateSetHeader-title {
    font-size: 2em !important;
  }
}

.set-create-BackgroundColor {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  background-color: #c6f5ed;
}

.inputbox {
  border: 0 !important;
  outline: 0 !important;
  background: transparent !important;
  border-bottom: 4px solid black !important;
}

.inputbox:focus {
  border: 0 !important;
  outline: 0 !important;
  background: transparent !important;
  border-bottom: 4px solid rgb(255, 217, 0) !important;
}

.div-add-card-form {
  margin-top: 10vh !important;
}

textarea {
  resize: none;
  overflow: hidden;
  /* min-height: 50px;
  max-height: 100px; */
}

.added-card {
  opacity: 0;
  animation: new-item-animation 0.3s linear forwards;
  -webkit-user-drag: element;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.draggable {
  padding: 1rem;
  background-color: white;
  /* border: 1px solid black; */
  /* cursor: move; */
}

.draggable.dragging {
  opacity: 0.5;
}

.aws-setsave-btn {
  font-size: 1.4em;
  font-weight: 700;
  font-family: NanumBarunGothic;
}

.create-set-title {
  margin-bottom: 4%;
  font-size: 2em;
  width: 60%;
  font-family: NanumBarunGothic;
}
@media (max-width: 1000px) {
  .create-set-title {
    font-size: 1.7em;
  }
}

.create-set-description {
  font-size: 1.4em;
  width: 100% !important;
  height: 50px !important;
  font-family: NanumBarunGothic;
}

.word-input {
  font-size: 1.5em;
}

.meaning-input {
  font-size: 1.5em;
}
