.CardTest-root {
  /* display: flex; */
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.CardTest-background {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(-45deg, #ddee9f, #fffedc, #63bfe0, #c6f5ea);
  background-size: 400% 400%;
}

.Quiz-container {
  /* display: flex; */
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

.Quiz-problem {
  padding: 3em;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  word-wrap: break-word;
}
@media (max-width: 800px) {
  .Quiz-problem {
    padding: 1.5em;
    height: 35%;
    padding: 0.5em;
  }
}
.Quiz-problem p {
  font-family: Arial, Helvetica, sans-serif;
}
.Quiz-answer {
  margin-top: 1em;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Quiz-answer p {
  background-color: rgb(169, 116, 255);
}

.answer {
  word-wrap: break-word;
  background-color: white;
  border: 1px solid #fff;
  padding: 5px 5px 5px 30px;
  width: 70%;
  text-align: left;
  margin-bottom: 15px;
  position: relative;
  font-size: 2em;
  cursor: pointer;
  transition: ease-in-out, width 0.35s ease-in-out;
  box-shadow: 3px 3px 3px 3px gray;
  z-index: 100;
  font-weight: 600;
  font-family: NanumBarunGothic;
}

@media (max-width: 800px) {
  .answer {
    font-size: 1.2em;
    padding-left: 15px;
  }
}

@media (max-width: 800px) {
  .answer {
    width: 90%;
  }
}

.answer.selected {
  color: #ffffff;
  background-color: #15b5ff;
}

.answer:hover {
  color: #ffffff;
  background-color: #15b5ff;
}

.answer:focus {
  outline: none;
}

.correct {
  font-weight: 800;
  color: rgb(9, 255, 0);
}

.failed {
  font-weight: 800;
  color: red;
}

.error {
  font-size: 2em;
  color: #ff3737;
  font-weight: 800;
}

.letter {
  color: #4f4c4c;
  width: 2em;
  position: absolute;
  left: 0;
  text-align: center;
  height: 28px;
  top: 0;
  padding: 5px;
  text-transform: uppercase;
}

.Quizbtn {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 0.3em 0.4em;
  color: #4f4c4c;
  background-color: #f4f4f4;
  text-transform: uppercase;
  /* font-size: 18px; */
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 2em;
}
@media (max-width: 600px) {
  .Quizbtn {
    width: 42%;
  }
}

.Quizbtn p {
  color: black;
  font-size: 2em;
}

@media (max-width: 600px) {
  .Quizbtn p {
    font-size: 1.5em;
  }
}
.Quizbtn-primary {
  color: #4f4c4c;
  background-color: #ffc107;
  font-weight: bold;
}

.container-result {
  padding-top: 3em;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.result-title {
  margin-bottom: 0.2em;
  font-size: 5em;
  color: white;
  font-weight: 700;
}

@media (max-width: 800px) {
  .result-title {
    margin-bottom: 0.1em;
  }
}

.container-result ul {
  padding-left: 0;
  width: 85%;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media (max-width: 800px) {
  .container-result ul {
    width: 100%;
    font-size: 1.5em;
  }
}

.progress-root {
  padding-top: 7em;
  position: relative;
}
.progress-root p {
  color: rgb(51, 255, 0);
  font-size: 3em;
  font-weight: 700;
  text-shadow: 2px 2px 3px black;
}
@media (max-width: 800px) {
  .progress-root p {
    margin-top: 0;
    font-size: 1.9em;
  }
}
.Quiz-problem p {
  width: 80%;
  text-align: center;
  font-size: 2em;
  color: black;
  font-weight: 600;
  font-family: NanumBarunGothic;
}

.meaning-type {
  font-size: 0.93em;
  margin-bottom: 0;
  color: black;
  font-weight: bolder;
  margin-bottom: 0.3em;
}
.meaning-type-text {
  font-family: Poppins-Regular;
  line-height: 1.7;
  color: #525252;
  margin: 0px;
  font-size: 0.75em;
}

@media (max-width: 800px) {
  .meaning-type {
    font-size: 1.4em;
  }
}

.container-result-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-content {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  align-items: center;
  /* border-style: ridge; */
  padding: 25px;
  width: 90%;
  /* border-color: rgb(255, 78, 78); */
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255, 1);
}

.result-content div {
  display: flex;
  width: 50%;
  align-content: center;
  justify-content: center;
  word-break: break-word;
  font-size: 0.6em;
}

.result-content-question {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.restart-btn {
  font-weight: 800;
  font-size: 2em;
  margin-right: 10px;
  margin-left: 10px;
  padding: 7px 13px;
  border-radius: 15px;
  background-color: #ffc107;
  margin-bottom: 1em;
}

@media (max-width: 800px) {
  .restart-btn {
    font-size: 1.1em;
  }
}
.back-btn-container {
  height: 15%;
  width: 100%;
  background-color: yellow;
}

.aws-Quizback-btn {
  position: absolute;
  right: 10vw;
  top: 5%;
}

.aws-Quizback-btn span {
  font-weight: 900;
}

.align-left {
  margin-right: auto;
  margin-left: 12vw;
  margin-bottom: 3vh;
}

.align-right {
  margin-left: auto;
  margin-right: 12vw;
  margin-bottom: 3vh;
}

.aws-scrapback-btn {
  font-weight: 900;
  font-size: 1.5em;
}

@media (max-width: 800px) {
  .aws-scrapback-btn {
    font-size: 1em;
  }
}

.result-btn-container {
  display: flex;
  width: 95%;
  height: 12vh;
  justify-content: space-evenly;
}

.aws-bookmark-restart-btn {
  font-weight: 900;
  font-size: 2.5em;
  height: 60px;
}

@media (max-width: 800px) {
  .aws-bookmark-restart-btn {
    font-size: medium;
  }
}

.aws-testfinish-btn {
  font-weight: 900;
  font-size: 2.5em;
  height: 60px;
}

@media (max-width: 800px) {
  .aws-testfinish-btn {
    font-size: medium;
  }
}

.aws-nextQuiz-btn {
  margin-top: 0.5em;
  font-weight: 900;
  font-size: 2em;
  height: 50px;
}

@media (max-width: 800px) {
  .aws-nextQuiz-btn {
    font-size: large;
  }
}

.search-empty {
  /* margin-top: 20vh; */
  font-size: 2.6em;
}

.Home-BackgroundColor {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(-45deg, #ddee9f, #fffedc, #63bfe0, #c6f5ea);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@media (max-width: 767px) {
  .button-group {
    display: flex;
    margin-bottom: 3vh;
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .button-group {
    display: flex;
    margin-bottom: 3vh;
    justify-content: flex-end;
  }
  /* .aws-scrapback-btn {
    margin-right: 1vw;
  } */

  .one {
    margin-right: 3vw;
  }

  .two {
    margin-right: 10vw;
  }
}

.aws-btn.aws-btn--third.aws-btn--visible.aws-btn--disabled.aws-bookmark-restart-btn > .aws-btn__wrapper {
  background-color: darkgray;
}
