.CardTest-root {
  /* display: flex; */
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.CardTest-background {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;

  background-color: #ffffff;
}

.Quiz-container {
  /* display: flex; */
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

.Quiz-problem {
  padding: 3em;
  width: 100%;
  height: 40%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  word-wrap: break-word;
}
@media (max-width: 800px) {
  .Quiz-problem {
    padding: 1.5em;
    height: 35%;
  }
}
.Quiz-problem p {
  font-family: Arial, Helvetica, sans-serif;
}
.Quiz-answer {
  margin-top: 1em;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Quiz-answer p {
  background-color: rgb(169, 116, 255);
}

.answer {
  word-wrap: break-word;
  background-color: white;
  border: 1px solid #fff;
  padding: 5px 5px 5px 30px;
  width: 70%;
  text-align: left;
  margin-bottom: 15px;
  position: relative;
  font-size: 2.5em;
  cursor: pointer;
  transition: ease-in-out, width 0.35s ease-in-out;
  box-shadow: 3px 3px 3px 3px gray;
  z-index: 100;
  font-weight: 200;
}

@media (max-width: 800px) {
  .answer p {
    font-size: 0.8em;
  }
}

@media (max-width: 800px) {
  .answer {
    width: 90%;
  }
}

.answer.selected {
  color: #4f4c4c;
  background-color: #7cd5ff;
}

.answer:hover {
  color: #4f4c4c;
  background-color: #7cd5ff;
}

.answer:focus {
  outline: none;
}

.correct {
  font-weight: 800;
  color: rgb(9, 255, 0);
}

.failed {
  font-weight: 800;
  color: red;
}

.error {
  font-size: 2em;
  color: #f27c7c;
  font-weight: 800;
}

.letter {
  color: #4f4c4c;
  width: 2em;
  position: absolute;
  left: 0;
  text-align: center;
  height: 28px;
  top: 0;
  padding: 5px;
  text-transform: uppercase;
}

.Quizbtn {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 0.3em 0.4em;
  color: #4f4c4c;
  background-color: #f4f4f4;
  text-transform: uppercase;
  /* font-size: 18px; */
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 2em;
}
@media (max-width: 600px) {
  .Quizbtn {
    width: 42%;
  }
}

.Quizbtn p {
  color: black;
  font-size: 2em;
}

@media (max-width: 600px) {
  .Quizbtn p {
    font-size: 1.5em;
  }
}
.Quizbtn-primary {
  color: #4f4c4c;
  background-color: #ffc107;
  font-weight: bold;
}

.container-result {
  padding-top: 3em;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.container-result p {
  margin-bottom: 1em;
  font-size: 5em;
  color: red;
  font-weight: 800;
}

@media (max-width: 800px) {
  .container-result p {
    font-size: 3em;
  }
}

.container-result ul {
  padding-left: 0;
  width: 70%;
  margin-bottom: 1em;
  font-size: 3em;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .container-result ul {
    width: 100%;
    font-size: 1.5em;
  }
}

.progress-root {
  padding-top: 4em;
  position: relative;
}
.progress-root p {
  color: rgb(0, 255, 42);
  font-size: 3em;
  font-weight: 700;
}
@media (max-width: 800px) {
  .progress-root p {
    font-size: 1.9em;
  }
}

.Quiz-problem p {
  font-size: 3.5em;
  color: black;
  font-weight: 700;
}
@media (max-width: 800px) {
  .Quiz-problem p {
    font-size: 2em;
  }
}

.result-content {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.result-content div {
  display: flex;
  width: 40%;
  align-content: center;
  justify-content: center;
  word-break: break-word;
  font-size: 0.8em;
}

.restart-btn {
  font-weight: 800;
  font-size: 3em;
  padding: 7px 13px;
  border-radius: 15px;
  background-color: #ffc107;
  margin-bottom: 1em;
}

@media (max-width: 800px) {
  .restart-btn {
    font-size: 1.7em;
  }
}
