.Home-BackgroundColor {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(-45deg, #ddee9f, #fffedc, #63bfe0, #c6f5ea);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
